:root{
    --bg-clr: #191919;
    --heading-clr: #2e2e2e;
    --card-clr: #202020;
    --dark: #191919;
    --txt: #626262;
    --light: #ececec;
    --lighter: #ffffff;
    --ac-clr: #0097b2;
    --hover: #d1d1d1;

    --small-radius: 5px;
    --big-radius: 20px;

    --site-padding: 0 1em;
    --default-padding: 1em;
    --card-padding: 10px;

    --font-body: "DM Sans", sans-serif;
    --font-headline: "Syne", sans-serif;
    --font-subheadline: "Syne", sans-serif;
}

html,
body{
    margin: 0;
    padding: 0;
    background-color: var(--bg-clr);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}



.mw{
    max-width: 1500px;
}




/* fonts */
h2,
h5,
h6{
    font-family: var(--font-headline);
    font-weight: 700;
}

h3,
h4{
    font-family: var(--font-subheadline);
    font-weight: 800;
}
p,
a{
    font-family: var(--font-body);
}


/* font-sizes */




/* font colors */
    .light{
        color: var(--lighter);
    }
    .default{
        color: var(--txt);
    }
    .dark{
        color: var(--dark);
    }





/* buttons */
.btn{
    padding: 8px 20px;
    position: relative;
    background: transparent;
    outline: 0;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    width: max-content;
}
.btn p{
    display: flex;
    align-items: center;
}
.btn p img{
    margin-right: 5px;
    width: 20px !important;
    height: auto !important;
}
.btn p .icon--arrow-white{
    margin-right: 5px;
    width: 20px;
    height: auto;
}

.btn span{
    background-color: var(--ac-clr);
    position: absolute;
}
.btn span:nth-of-type(1){
    left: 0;
    top: 0;
    width: 2px;
    height: 50%;
}
.btn span:nth-of-type(2){
    top: 0;
    left: 0;
    width: 60%;
    height: 2px;
}
.btn span:nth-of-type(3){
    right: 0;
    bottom: 0;
    width: 2px;
    height: 50%;
}
.btn span:nth-of-type(4){
    bottom: 0;
    right: 0;
    width: 60%;
    height: 2px;
}

/* transitions */
.img-transition-top{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 10/1;
    min-height: 80px;
    max-height: 140px;
    background: linear-gradient(
            to bottom,
            rgba(25, 25, 25, 1) 0%,
            rgba(25, 25, 25, 1) 30%,
            rgba(25, 25, 25, 0) 100%
    );
}
.img-transition-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 10/1;
    min-height: 80px;
    max-height: 140px;
    background: linear-gradient(
            to top,
            rgba(25, 25, 25, 1) 0%,
            rgba(25, 25, 25, 1) 30%,
            rgba(25, 25, 25, 0) 100%
    );
}