.dienstleistungen-cards-holder{
    width: 100%;
    display: flex;
    justify-content: center;
}
.dienstleistungen-cards{
    width: 100%;
    padding: var(--section-padding);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2%;
}
.dienstleistung-card{
    background-color: var(--card-clr);
    border-radius: var(--radius);
    padding: 1em;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 500px;
}
.dienstleistung-card .icon-holder{
    position: absolute;
    right: 2em;
    top: -35px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: var(--ac-clr);
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 8px solid var(--bg-clr);
}
.dienstleistung-card .icon-holder img{
    width: 60%;
    height: auto;
}

.dienstleistung-card .mini-heading{
    margin-top: 50px;
    text-align: center;
}
.dienstleistung-card p:last-of-type{
    color: var(--txt);
}


@media (max-width: 750px) {
    .dienstleistungen-cards{
        grid-template-columns: 100%;
        gap: 3em;
        place-items: center;
    }
    .dienstleistung-card .icon-holder{
        width: 60px;
        height: 60px;
        top: -30px;
    }
}