.dienstleistungen-cards-holder{
    width: 100%;
    display: flex;
    justify-content: center;
}
.dienstleistungen-cards{
    width: 100%;
    padding: var(--section-padding);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2%;
}
.dienstleistung-card{
    background-color: var(--card-clr);
    border-radius: var(--radius);
    padding: 1em;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 500px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
    will-change: opacity, transform;
}
.dienstleistung-card.is-inview{
    opacity: 1;
    transform: translateY(0);
}
.dienstleistung-card .icon-holder{
    position: absolute;
    right: 2em;
    top: -35px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: var(--bg-clr);
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 8px solid var(--bg-clr);
    border: 2px solid var(--ac-clr);
    box-shadow: inset 0 0 5px var(--ac-clr);
}
.dienstleistung-card .icon-holder img{
    width: 60%;
    height: auto;
}

.dienstleistung-card .mini-heading{
    margin-top: 50px;
    text-align: center;
}
.dienstleistung-card p:last-of-type{
    color: var(--txt);
}

/* Offer-card specific footer pinning */
.dienstleistung-card.offer-card{
    height: 100%;
    background: var(--light);
    border: 3px solid var(--ac-clr);
    box-shadow: 0 0 5px var(--ac-clr);
    border-radius: var(--big-radius);

}
.dienstleistung-card.offer-card .offer-card__body{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.dienstleistung-card.offer-card .offer-card__body ul{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.dienstleistung-card.offer-card .offer-card__body ul li{
    display: flex;
    align-items: center;
    gap: 10px;
}
.dienstleistung-card.offer-card .offer-card__body ul li img{
    min-width: 40px;
    min-height: 40px;
    width: 40px;
    height: 40px;
}
.dienstleistung-card.offer-card .offer-card__price{
    margin-top: auto;
}

.offer-card p:last-of-type{
    color: var(--dark);
}

@media (max-width: 750px) {
    .dienstleistungen-cards{
        grid-template-columns: 100%;
        gap: 3em;
        place-items: center;
    }
    .dienstleistung-card .icon-holder{
        width: 60px;
        height: 60px;
        top: -30px;
    }
}
