.dsgvo-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 7em;
}

.impressum-content-holder {
    padding: var(--site-padding);
    text-align: left;
<<<<<<< Updated upstream
    max-width: 800px;
    padding: var(--site-padding);
}

.impressum-content h2 {
    margin-top: 2.5em;
    font-family: var(--font-body);

=======
    width: 100%;
}

.impressum-content{
    max-width: 800px;
    padding: 0 3em;
>>>>>>> Stashed changes
}

.datenschutz-content {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.datenschutz-content h2 {
    margin-top: 2.5em;
<<<<<<< Updated upstream
    font-family: var(--font-body);
=======
}


@media(max-width: 600px) {
    .impressum-content {
        padding: 0;
    }
>>>>>>> Stashed changes
}