.dsgvo-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.impressum-content {
    text-align: left;
    max-width: 800px;
    padding: var(--site-padding);
}

.impressum-content h2 {
    margin-top: 2.5em;
    font-family: var(--font-body);

}

.datenschutz-content {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.datenschutz-content h2 {
    margin-top: 2.5em;
    font-family: var(--font-body);
}