.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 16/5;
    position: relative;
    min-height: 200px;
}
.hero img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(.85);
}
.hero-inner{
    width: 100%;
    height: 100%;
    position: relative;
}
.hero-inner h3{
    position: absolute;
    bottom: 10%;
    left: 0;
    padding: 0 16px;
    z-index: 10;
    width: 100%;
    text-align: start;
}