.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 16/5;
    position: relative;
    min-height: 250px;
}
.hero img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(.85);
}
.hero-inner{
    width: 100%;
    height: 100%;
    position: relative;
}
.hero-inner h1{
    position: absolute;
    bottom: 10%;
    left: 0;
    padding: 0 16px;
    z-index: 10;
    width: 100%;
    text-align: start;
    font-size: clamp(1.85rem, 5vw, 4rem);
}

.hero-inner h3.reveal{
    transform: translateY(40px);
    opacity: 0;
    transition: all 0.9s ease;
}
.hero-inner h3.revealed{
    transform: translateY(0);
    opacity: 1;
}
