.home-hero{
    width: 100%;
    min-height: 480px;
    max-height: 90vh;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.hero-img{
    min-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    filter: brightness(.7);
}
.home-hero-inner{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: var(--site-padding);
    z-index: 2;
}
.home-hero-inner h1 span{
    color: var(--ac-clr);
}
.home-hero-inner h2{
    font-size: calc(1.8rem + 1.5vw);
}
.home-hero-inner h1{
    font-family: var(--font-body), sans-serif;
    font-size: calc(1rem + 1vw);
    font-weight: 500;
}


.hero-fächer{
    position: absolute;
    width: 40%;
    min-width: 500px;
    height: auto;
    bottom: 0;
    right: -8%;
}


@media(max-width: 900px){
    .hero-fächer{
        width: 50%;
        right: -13%;
        min-width: 280px !important;
    }

    .home-hero-inner button{
        backdrop-filter: brightness(0.5);
    }
}