/* contact form */

.contact-holder{
    width: 100%;
    display: flex;
    justify-content: center;
}
.contact{
    width: 100%;
    display: flex;
    padding: var(--section-padding);
    gap: 2em;
}

.contact-info{
    width: 40%;
}
.contact-info h4{
    font-family: var(--font-headline);
    text-align: start;
    color: var(--light);
    font-size: clamp(1.6rem, 3vw, 2.2rem);
    max-width: 300px;
    line-height: 1.6;
}
.contact-info h4 span{
    color: var(--ac-clr);
    text-shadow: 0 0 3px var(--ac-clr);
}


.contact-form{
    width: 60%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}
.contact-form .form-row{
    width: 100%;
    height: max-content;
    max-height: max-content;
    position: relative;
}
.contact-form .form-row input,
.contact-form .form-row textarea{
    width: 100%;
    padding: 0 10px 8px;
    font-size: 1.2rem;
    border: 0;
    outline: 0;
    background: transparent;
    z-index: 2;
    position: relative;
}
.contact-form .form-row::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    background-color: var(--card-clr);
}
.contact-form .form-row::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: var(--ac-clr);
    box-shadow: 0 0 5px var(--ac-clr);
    transition: all .3s ease;
}

.contact-form .form-row label{
    position: absolute;
    font-size: 1.1rem;
    bottom: 8px;
    left: 10px;
    font-family: var(--font-body);
    transition: all .3s ease;
    z-index: 1;
    padding-bottom: 3px;
}

.contact-form .form-row input:focus + label,
.contact-form .form-row textarea:focus + label{
    bottom: 100%;
    font-size: .8rem;
    color: var(--ac-clr);
}
.contact-form .form-row:has(input:focus)::after,
.contact-form .form-row:has(textarea:focus)::after{
    width: 100%;;
}
.contact-form .form-row:has(input:focus)::before{
    width: 0;
}

.contact-form .form-row textarea{
    min-height: 31px !important;
    min-width: 100%;
    max-width: 100% !important;
}



@media (max-width: 600px) {
    .contact{
        flex-direction: column;
        max-width: 500px;
        gap: 4em;
    }
    .contact-info,
    .contact-info h4,
    .contact-form{
        width: 100%;
        max-width: 500px;
    }
    .contact-form button{
        align-self: center;
    }
}


/* website-check form */
.wc-form{
    gap: 4em;
    align-items: center;
}
.wc-form .contact-info h4{
    max-width: 500px;
}
@media (max-width: 800px) {
    .wc-form{
        flex-direction: column;
        max-width: 500px;
    }
    .wc-form .contact-info,
    .wc-form .contact-info h4,
    .wc-form .contact-form{
        width: 100%;
        max-width: 500px;
    }
    .wc-form .contact-form button{
        align-self: center;
    }
}