/* 2 img - 1 text  layout*/
.two-img-layout-holder{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: var(--section-padding);
}

.two-img-layout{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5%;
    padding: 0 3em;
}

.two-img-layout .txt-holder,
.two-img-layout .img-holder{
    display: flex;
    flex-direction: column;
}
.two-img-layout .img-holder{
    width: 55%;
}
.two-img-layout .txt-holder{
    gap: 10px;
    width: 45%;
    transform: translateY(50px);
    opacity: 0;
    transition: transform .8s ease;
}
.two-img-layout .txt-holder.revealed{
    transform: translateY(0);
    opacity: 1;
}

.two-img-layout .img-holder img{
    width: 65%;
    height: auto;
    border-radius: var(--radius);
    object-fit: cover;
    object-position: center;
    transition: all .8s ease;
}
.two-img-layout .img-holder img.reveal:first-of-type{
    transform: translateX(-50px) translateY(12%);
    opacity: 0;
}
.two-img-layout .img-holder img.reveal:last-of-type{
    transform: translateX(50px) translateY(-12%);;
    opacity: 0;
}
.two-img-layout .img-holder img.reveal.revealed:first-of-type{
    transform: translateX(0) translateY(12%);
    opacity: 1;
}
.two-img-layout .img-holder img.reveal.revealed:last-of-type{
    transform: translateX(0) translateY(-12%);
    opacity: 1;
}

.two-img-layout img:first-of-type{
    justify-self: start;
    align-self: start;
}
.two-img-layout img:last-of-type{
    justify-self: end;
    align-self: end;
}




@media (max-width: 800px) {
    .two-img-layout-holder{
        overflow: hidden;
    }
    .two-img-layout{
        flex-direction: column;
        gap: 40px;
        padding: 0;
    }

    .two-img-layout .txt-holder,
    .two-img-layout .img-holder{
        width: 100%;
    }
    .two-img-layout .txt-holder{
        max-width: 500px;
    }

    .two-img-layout .img-holder img{
        max-width: 350px;
        width: 70%;
    }
    .two-img-layout .img-holder img.reveal:first-of-type{
        transform: translateY(12%) translateX(-50%) !important;
    }
    .two-img-layout .img-holder img.reveal:last-of-type{
        transform: translateY(-12%) translateX(50%) !important;
    }
    .two-img-layout .img-holder img.reveal.revealed:first-of-type{
        transform: translateY(12%) translateX(-15%) !important;
    }
    .two-img-layout .img-holder img.reveal.revealed:last-of-type{
        transform: translateY(-12%) translateX(15%) !important;
    }
}



/* 3 img - 1 text layout */
.three-img-layout-holder{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: var(--section-padding);
}

.three-img-layout{
    width: 100%;
    padding: 0 3em;
    gap: 1.2em;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, max-content);
}

.three-img-layout .img-holder{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: var(--radius);
    transition: all .8s ease;
}
.three-img-layout .img-holder.reveal:nth-of-type(1){
    transform: translateX(-50px);
    opacity: 0;
}
.three-img-layout .img-holder.reveal:nth-of-type(2){
    transform: translateX(50px);
    opacity: 0;
}
.three-img-layout .img-holder.reveal:nth-of-type(3){
    transform: translateX(50px);
    opacity: 0;
}
.three-img-layout .img-holder.reveal.revealed{
    transform: translateX(0);
    opacity: 1;
}

.three-img-layout .img-holder:hover > img{
    transform: scale(1.05);
}
.three-img-layout .img-holder:hover > p::before{
    width: 50%;
    background-color: var(--hover-clr);
}
.three-img-layout .img-holder p{
    position: absolute;
    bottom: 1em;
    left: 1em;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.three-img-layout .img-holder p::before{
    content: '';
    width: 33%;
    height: 2px;
    background-color: var(--ac-clr);
    transition: all 1s ease;
}


.three-img-layout .img-holder img{
    width: 100%;
    height: 100%;
    transition: transform 1s ease;
    object-fit: cover;
    object-position: center;
}
.three-img-layout .img-holder:nth-of-type(1){
    grid-column: 1/8;
    grid-row: 1/5;
}
.three-img-layout .img-holder:nth-of-type(2){
    grid-column: 8/13;
    grid-row: 1/4;
}
.three-img-layout .img-holder:nth-of-type(3){
    grid-column: 8/12;
    grid-row: 4/6;
}

.three-img-layout .txt-holder{
    grid-column: 2/8;
    grid-row: 5/13;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 1em;
    transform: translateY(50px);
    opacity: 0;
    transition: all .8s ease;
}
.three-img-layout .txt-holder.revealed{
    transform: translateY(0);
    opacity: 1;
}


@media (max-width: 700px) {
    .three-img-layout{
        gap: 10px;
        padding: 0;
        max-width: 500px;
    }

    .three-img-layout .img-holder p{
        bottom: 10px;
        left: 10px;
    }
    .three-img-layout .img-holder:nth-of-type(1){
        grid-column: 1/8;
        grid-row: 1/6;
    }
    .three-img-layout .img-holder:nth-of-type(2){
        grid-column: 8/13;
        grid-row: 1/3;
    }
    .three-img-layout .img-holder:nth-of-type(3){
        grid-column: 8/13;
        grid-row: 3/6;
    }

    .three-img-layout .txt-holder{
        grid-column: 1/13;
        grid-row: 6/13;
    }
}


@media (max-width: 400px){
    .three-img-layout .img-holder:nth-of-type(1){
        grid-column: 1/13;
        grid-row: 1/3;
    }
    .three-img-layout .img-holder:nth-of-type(2){
        grid-column: 1/7;
        grid-row: 3/5;
        transform: translateX(-50px) !important;
    }
    .three-img-layout .img-holder.revealed:nth-of-type(2){
        transform: translateX(0) !important;
    }
    .three-img-layout .img-holder:nth-of-type(3){
        grid-column: 7/13;
        grid-row: 3/5;
    }
}



/* 1 img - 2 text layout */

